* {
    margin: 0;
    padding: 0;
}

text {
    color: #222222;
}

.page {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page__great {
    position: relative;
}

.great__image {
    width: 462px;
    height: 501px;
}

.great__title {
    position: absolute;
    top: -107px;
    left: -97px;
    font: 700 140px/180px "Golos Text", sans-serif;
    letter-spacing: -1.5px;
}

.page__authorization {
    display: flex;
    flex-direction: column;
    font: 15px/18px "Golos Text", sans-serif;
    letter-spacing: -0.15px;
    align-self: center;
    width: 343px;
}

.authorization__email{
    margin-top: 10px;
}

.email__input {
    width: 100%;
    height: 44px;
    border-radius: 10px;
}

.email__input-tip {
    font: 13px/16px "Golos Text", sans-serif;
    letter-spacing: -0.08px;
    color: #808080;
}

.authorization__password{
    position: relative;
    margin-top: 10px;
}

.password__input {
    width: 100%;
    height: 44px;
    border-radius: 10px;
}

.password__eye-off-image{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.authorization__continue-button {
    display: block;
    margin-top: 10px;
    font: 500 16px/1 "Golos Text", sans-serif;
    text-align: center;
    background-color: #222222;
    color: #FFFFFF;
    width: 100%;
    line-height: 48px;
    border-radius: 10px;
    text-decoration: none;
}

@media screen and (max-width: 1180px) {
    .page {
        flex-direction: column;
    }
    .great__image {
        width: 247px;
        height: 268px;
    }
    .great__title {
        position: absolute;
        top: -57px;
        left: -51px;
        font: 700 75px/95px "Golos Text", sans-serif;
        letter-spacing: -1.5px;
    }
}
