text {
    color: #222222;
}

.page {
    display: flex;
    flex-direction: row;
    gap: 104px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page__great {
    position: relative;
}

.great__image {
    width: 462px;
    height: 501px;
}

.great__title {
    position: absolute;
    bottom: 337px;
    right: 142px;

    font: 700 140px/180px "Golos Text", sans-serif;
    letter-spacing: -1.5px;
}

.page__authorization {
    display: flex;
    flex-direction: column;
    font: 15px/18px "Golos Text", sans-serif;
    letter-spacing: -0.15px;
    align-self: center;

}

.email__input {
    width: 343px;
    height: 44px;
    border-radius: 10px;
}

.email__input-tip {
    font: 13px/16px "Golos Text", sans-serif;
    letter-spacing: -0.08px;
    color: #808080;
}

.password__input {
    width: 343px;
    height: 44px;
    border-radius: 10px;
}

.password__eye-off-image {
    width: 24px;
    height: 24px;
    display: block;
}

.authorization__continue-button {
    display: block;
    font: 500 16px/1 "Golos Text", sans-serif;
    text-align: center;
    background-color: #222222;
    color: #FFFFFF;
    width: 343px;
    line-height: 48px;
    border-radius: 10px;
    text-decoration: none;
}