.text {
    color: #222222;
}

.page {
    grid-template-columns: 72px 1fr;
    display: grid;
}

.page__side-bar {
    padding-top: 40px;
    position: fixed;
    width: 72px;
}

.side-bar__image {
    width: 40px;
    height: 40px;
    padding-bottom: 16px;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.page__feed {
    border-left: 1px solid #2222220D;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 73px;
}

.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 474px;
    padding-bottom: 16px;
}

.header__author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author__avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.author__name {
    width: 100px;
    height: 18px;
    font: 500 14px/18px "Golos Text", sans-serif;
    letter-spacing: -0.15px;
    cursor: pointer;
    text-decoration: none;
}

.images__guy-stay-on-crossroad {
    width: 474px;
    height: 474px;
}

.header__indicator {
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding-top: 8px;
}

.indicator__edit {
    width: 44px;
    height: 24px;
    border-radius: 20px;
}

.content__reaction {
    width: 68px;
    height: 30px;
    border-radius: 8px;
    padding-top: 16px;
}

.content__description-short {
    width: 474px;
    font: 15px/18px "Golos Text", sans-serif;
    letter-spacing: -0.15px;
    margin-bottom: 0;
}

.content__show-more {
    width: 28px;
    height: 18px;
    font: 15px/18px "Golos Text", sans-serif;
    color: #808080;
    cursor: pointer;
    padding-top: 16px;
}

.content__time-ago {
    width: 100px;
    height: 18px;
    font: 14px/18px "Golos Text", sans-serif;
    letter-spacing: -0.15px;
    color: #22222280;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 20px;
}