*{
    margin: 0;
    padding: 0;
}

.text {
    color: #222222;
}

.page {
    grid-template-columns: 72px 1fr;
    display: grid;
}

.page__side-bar {
    padding-top: 40px;
    position: fixed;
    width: 72px;
    height: 100%;
    border-right: 1px solid #2222220D;
}

.side-bar__image {
    width: 40px;
    height: 40px;
    padding-bottom: 16px;
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.page__profile {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    padding-top: 73px;
    justify-self: center;
}

.profile__head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head__avatar {
    width: 123px;
    height: 123px;
    border-radius: 6px;
}

.head__name {
    font: 500 32px/32px "Golos Text", sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 361px;
    height: 32px;
    margin: 0;
    padding-top: 20px;
}

.head__description {
    font: 15px/18px "Golos Text", sans-serif;
    text-align: center;
    vertical-align: middle;
    width: 361px;
    height: 36px;
    margin: 0;
    padding-top: 10px;
}

.head__count-of-posts {
    width: 101px;
    height: 30px;
    margin: 0;
    padding-top: 12px;
}

.profile__gallery {
    padding-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    justify-items: center;
}

.gallery__photo {
    width: 322px;
    height: 322px;
    border-radius: 2px;
}

@media screen and (max-width: 1072px) {
    .page {
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;
        align-items: center;
        justify-content: center;
    }

    .page__profile {
        grid-column-start: 1;
        width: 100%;
    }

    .page__side-bar {
        position: fixed;
        bottom: 16px;
        width: 361px;
        height: 53px;
        border: 2px solid #2222220D;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        background: #fff;
        border-radius: 30px;
        gap: 50px;

    }

    .profile__head,
    .profile__gallery {
        width: 834px;
        margin: 0 auto;
    }

    .gallery__photo {
        width: 276px;
        height: 276px;
    }

    .side-bar__image {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .page {
        width: 393px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page__profile {
        width: 393px;
        padding-top: 20px;
        align-items: center;
    }

    .profile__head,
    .profile__gallery {
        width: 393px;
        margin: 0 auto;
    }
    .gallery__photo {
        width: 130px;
        height: 130px;
    }

    .page__side-bar {
        position: fixed;
        bottom: 16px;
        width: 361px;
        height: 53px;
    }
}